<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col">
                <!-- table -->
            </div>
            <div class="col">
                <!-- form -->
                <form @submit.prevent="submitArticle">
                    <p v-if="errors.length">
                        <ul>
                            <li v-for="error in errors">{{error}}</li>
                        </ul>
                    </p>
                        <div class="form-group">
                          <label>Title</label>
                          <input type="text" v-model="title" class="form-control">
                        </div>
                        <div class="form-group">
                          <label>Description</label>
                          <textarea cols="30" v-model="description" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" v-model="address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Required</label>
                            <input type="text" v-model="required" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Collected</label>
                            <input type="text" v-model="collected" class="form-control">
                        </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue
      
        createApp({
          data() {
            return {
              title: "",
              description: "",
              address: "",
              required: "",
              collected: "",
              errors: [],
              domain: 'http://localhost:8000/'
            }
          },
            methods: {
                validationForm(){
                    this.errors = []

                    if(this.title.length < 5){
                        this.errors.push('judul harus lebih dari 5 karakter')
                    }
                    if(this.description.length < 5){
                        this.errors.push('keterangan harus lebih dari 5 karakter')
                    }
                    if(this.address.length < 5){
                        this.errors.push('alamat harus lebih dari 5 karakter')
                    }
                    if(this.required.length < 5){
                        this.errors.push('required harus lebih dari 5 karakter')
                    }
                    if(this.collected.length < 5){
                        this.errors.push('collected harus lebih dari 5 karakter')
                    }
                },
                clearform: function(){
                    this.title = "",
                    this.description = "",
                    this.address = "",
                    this.required = "",
                    this.collected = ""
                },
                submitArticle() {
                    this.validationForm();

                    let formData = new FormData()
                    formData.append('title', this.title)
                    formData.append('description', this.description)
                    formData.append('address', this.address)
                    formData.append('required', this.required)
                    formData.append('collected', this.collectede)

                    if(this.errors.length === 0){
                        const config = {
                            method : 'POST',
                            url : this.domain + 'api/article',
                            data : formData
                        }
                        axios(config)
                        .then((response)=> {
                            //console.log(response);
                            this.clearform()
                            alert(response.data.response_message)
                        })
                        .catch((error)=> {
                            console.log(error);
                        });
                    }

                }
            }
        }).mount('#app')
    </script>
</body>
</html>