<!-- <!DOCTYPE html>
<html>

<head>
  <title>VueJS Course</title>
  <style>

</style>
</head>

<body>
  <div id="app">
    <label >Role</label> <br>
        <select>
            <option value="1">Imposter</option>
            <option value="2">Crew</option>
    </select>
    
    <p>Tugas Anda adalah untuk membunuh semua Crew</p>
    <p>Anda Bertugas untuk menyelesaikan semua task dan jangan sampai terbunuh</p>

  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let vm = Vue.createApp({
    data() {
        return {


        }
    }

    }).mount('#app');
  </script>
</body>

</html> -->

<!DOCTYPE html>
<html>

<head>
  <title>VueJS Course</title>
  <style>

  </style>
</head>

<body>
  <div id="app">
    <label>Role</label> <br>
    <select v-model="role">
      <option value="1">Imposter</option>
      <option value="2">Crew</option>
    </select>

    <template v-if="role == '1'">
      <p>Tugas Anda adalah untuk membunuh semua Crew</p>
    </template>
    <template v-else-if="role == '2'">
      <p>Tugas Anda adalah untuk menyelesaikan semua task dan jangan sampai terbunuh</p>
    </template>
    <template v-else>
      <p>Silakan pilih peran Anda</p>
    </template>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let vm = Vue.createApp({
      data() {
        return {
          role: ''
        }
      }
    }).mount('#app');
  </script>
</body>

</html>
